<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new category</title>
</head>
<body>
<script th:src="@{/assets/js/script.js}"></script>
    <table>
        <tr>
            <td>
                <a href="/"><button>Main page</button></a>
            </td>
        </tr>
        <form onsubmit="return saveCategory()" th:method="POST" th:action="@{/category/create}" th:object="${category}">
            <tr>
                <td>
                   <label for="categoryName">Category Name</label>
                </td>
                <td>
                    <input type="text" th:field="*{name}" id="categoryName" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="parentCategory">Parent category</label>
                </td>
                <td>
                    <select id="parentCategory" name="parentCategoryId">
                        <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.name}"></option>
                    </select>
                </td>
            </tr>
           <tr>
               <td>
                   <input type="submit" value="Create category">
               </td>
           </tr>

        </form>

    </table>
</body>
</html>